html{scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    font-family: "Agency FB", Arial, sans-serif;
    line-height: 1;
    margin: 0;
    padding: 0;
}

/* Contenedor principal para centrar contenido */
.container {
    width: 80%;
    margin: 0 auto;
}
                

/* Estilos para el encabezado */
header {
    background: #fff;
    color: #373434;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Gadugi",Arial, Helvetica, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    right: 0;
    
}
.izquierda{
    display: flex;
    align-items: center;
    
}
.izquierda h3{
    margin-left: 30px;
} 


header h1 {
    text-align: center;
    margin: 0;
    
}
.botonquote button{
    width: 200px;
    height: 60px;
    font-family: "Gadugi", Arial, Helvetica, sans-serif;
    background: #1e50c1;
    color: #fff;
    border: 15px ;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 15px; 
    border-radius: 5px;
    font-weight: bold;   
}
.botonquote button:hover {
    background-color: #163a8e;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #414040;
    text-decoration: none;
}
.menu > li:hover > a {
    color: #1e50c1;
}

.menu > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
}

.menu > li a {
    color: #414040;
    position: relative;  
}

.menu > li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background: #1e50c1;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
}
/* seccion home */
#home {
    padding: 170px 0;
    display: flex;

}

#home .container {
    flex:1;
    width: 50%;
    left: 70px;
    position: relative;
   
}

#home .imagen{
    flex:1;
    width: 50%;
    text-align: center;
   
}


#home .container h3 {
    font-size: 70px;
    margin: 5px;
    margin-bottom: 10px;
    border: 0px;
    box-sizing: border-box;
    font-family: "Gadugi",Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: #213d49;
    
}
#home h1{
    color: #1e50c1;
    font-size:120px ;
    margin: 5px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
#home p{
    font-size: 20px;
    padding: 5px;
    white-space: pre-line;
    color: #213d49;
    font-family: "Gadugi",Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    
}
.botonproyecto{
    margin-top: 80px;
    
}
#home .botonproyecto button{
    width: 250px;
    height: 50px;
    font-family: "Gadugi", Arial, Helvetica, sans-serif;
    background: #1e50c1;
    color: #fff;
    border: 15px ;
    cursor: pointer;
    padding: 10px ;
    font-size: 15px; 
    border-radius: 5px;
    font-weight: bold;
    
}
#home .botonproyecto button:hover {
    background-color: #163a8e;
}
.letra {
    color: #213d49;   
    font-size: 30px; 
    margin-top: -85px;
}
.espacios li {
    margin-right: 60px;
    
}

/* Estilos para la sección Sobre Mí */



#about {
    padding: 130px 0;
    display: flex;

}
#about .container h2{
    font-size: 40px;
} 


#about .container {
    flex:0 0 70%;
    color: #213d49;
    align-self: flex-start;
    font-family: "Gadugi", Arial, Helvetica, sans-serif;
    font-size: 20px;
    white-space: pre-line;  
}
.container button{
    background-color: #1e50c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: -40px;
    width: 180px;
    font-weight: bold;
    
}
.container button:hover {
    background-color: #163a8e;
}

#about .imagen{
    flex:0 0 30%;
    text-align: center;
}
/* Estilos para la seccion Skills */

.skill h1{
    text-align: center;
    font-size: 40px;
    font-family: "Gadugi", Arial, Helvetica, sans-serif;
}
#skills{
    font-family: 'agency fb' ;
    list-style: none;
    padding: 60px;
    margin: 0;
    background: #fff;
    text-transform: uppercase;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #213d49;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill li{
    margin:20px 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} 
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,  #213d49  0%, #1e50c1 100%);

}
.html{
    width: 90%;
    animation:html 3s;
}
.css{
    width: 70%;
    animation:css 3s;
}
.php{
    width: 45%;
    animation:php 3s;
}
.javascript{
    width: 55%;
    animation:javascript 3s;
}
@keyframes html{
    0%{
       width: 0%; 
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
       width: 0%; 
    }
    100%{
        width: 70%;
    }
}
@keyframes php{
    0%{
       width: 0%; 
    }
    100%{
        width: 45%;
    }
}
@keyframes javascript{
    0%{
       width: 0%; 
    }
    100%{
        width: 55%;
    }
}

/* Estilos para la sección de Proyectos */

.services-section {
    width: 80%;
    margin: 30px auto;
    padding: 80px 0;
    text-align: left;
    
}

.services-section h2 {
    font-family: "Gadugi",Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #213d49;
    margin-bottom: 10px;
    
}

.services-section h1 span {
    color: #1e50c1;
    font-family: "Gadugi",Arial, Helvetica, sans-serif;
    margin-top: -5px;
    font-size: 35px;
    

}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 50px;
}

.card-container {
    font-family: "Gadugi",Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 75%;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin-top: 0;
    font-size: 24px;
    color: #213d49;
}

.card p {
    font-size: 15px;
    color: #213d49;
    white-space: pre-line;
}

.card button {
    background-color:#fff ;
    color: #1e50c1;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
}

.card button:hover {
    background-color: rgba(30, 80, 193, 0.4);
}

.cta-container {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cta-button {
    background-color: #1e50c1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-top: 35%;
    font-weight: bold;
}

.cta-button:hover {
    background-color: #163a8e;
}






/* estilos para el footer */
#contact {
    padding: 20px 0;
}

#contact h2 {
    font-size: 16px;
    margin-right: 215px;
    text-align: center;
}

.icon {
    font-size: 30px;
    padding: 30px;
}

.icon i{
    margin: 5px;
}

footer button {
    font-family: "Gadugi", Arial, Helvetica, sans-serif;
    background: #fff;
    color: #1e50c1;
    border: 15px ;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 14px; 
    border-radius: 10px;
    font-weight: bold;
}

input{
    background: #1e50c1;
    color: #fff;
    padding: 7px;
    font-size: 12px;
    border-radius: 5px;
    border-color: white;
    width: 200px;
}

footer {
    background: #1e50c1;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

footer h2{
    font-family: "Gadugi", Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 5px;
    margin: 0;
}

